<div class="container" style="display: flex;">
    <div class="bgImage">
        <div class="logos">
            <p class="logo">
                <img src="../../../assets/img/logo.jfif" width="80" height="80">
                <strong style="font-size: 50px;">The Bookmark App</strong>
                <img src="../../../assets/img/bmLogo.jpeg" width="80" height="80">

            </p>

        </div>
        <div class="container">
            <div class="registerPage">
                <bookmarkapp-register></bookmarkapp-register>
            </div>
        </div>

        <div class="whyUs" style="display: block;">
            <h1 style="margin-left: 30%;"><strong>Why Us?</strong></h1>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <strong>Friendly User Interface</strong></li>
                <li class="list-group-item list-group-item-info">
                    <strong>Super easy to create an account</strong></li>
                <li class="list-group-item list-group-item-info"><strong>Free of cost</strong></li>
                <li class="list-group-item list-group-item-info">
                    <strong>Quick & Efficient Operations</strong></li>
            </ul>
        </div>

        <div class="container ">
            <div class="loginPage">
                <bookmarkapp-login></bookmarkapp-login>
            </div>
        </div>


    </div>
</div>