                      /* @media screen and (max-width: 1200px)and (min-width:990px) { */
/* @media screen and (max-width: 1600px) { */
  .registerPage {
position: absolute;
right: 0px;
bottom: 0px;
top: 80px;
width: 50%;
/* height: 120px; */
/* border: 3px solid blue; */
  }
  .loginPage{
    float: left;
    left: 0px;
}
.whyUs{
  display: contents;
  margin-top: 25%;
  float: left;
  /* min-width: 60%; */
}
.logo {
  position: absolute;
  left: 0px;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-style: italic;
  color: steelblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}



