                      /* @media screen and (max-width: 1200px)and (min-width:990px) { */
@media screen and (max-width: 1600px) {
  .registerPage {
    float: right;
    margin-right: 5%;
    margin-top: 2%;
  }
  .loginPage{
    float: left;
}
.whyUs{
  margin-top: 7%;
  float: left;
  min-width: 40%;
}
.logo {
  position: absolute;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-style: italic;
  color: steelblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}



