.btn:hover:enabled {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
}
.btn {
    display: inline-block;
    /* font-style: oblique; */
    font-weight: bolder;
    width: 100px;
    flex: 25%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn-success {
    display: inline-block;
      float: right;
}

ul{
  border: 1px solid honeydew;
  border-collapse: collapse;
  text-align: center;
}

li{
  border: 1px solid black;
  padding: 0px;
}

*{
    box-sizing: border-box;
}
  
  /* Create a column layout with Flexbox */
  .row {
    display: flex;
    margin-left: 0%;
  }
  
  /* Left column (menu) */
  .left {
    /* flex: 5%; */
    padding: 15px 0;
    background-color: skyblue;
  }
  
  .left h2 {
      padding-left: 8px;
      display: inline-block;
      float: left;
    
  }
  
  h2{
      text-align: center;
  }

  p{
    text-align: center;
}
  
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }

  .validationError{
    color: red;
}

.spinner {
  border : 14px solid silver;
  border-top : 12px solid #337ab7;
  border-radius: 50%;
  width : 80px;
  height : 80px;
  animation: spin 700ms linear infinite;
  top : 50%;
  left: 45%;
  position: absolute;
}