.right {
    flex: 60%;
    padding: 15px 0;
    background-color: skyblue;
  }

  .btn-success {
    display: inline-block;
      float: right;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.right h2 {
    padding-left: 8px;
    display: inline-block;
    float: left;
  
}

    /* Style the search box */
    #bookmarkSearch {
        width: 100%;
        font-size: 18px;
        padding: 11px;
        border: 1px solid #ddd;
      }
      
      /* Style the navigation menu inside the left column */
      #bookmarkMenu {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      #myMenu li a {
        padding: 12px;
        text-decoration: none;
        color: black;
        display: block
      }
      
      #bookmarkMenu li a:hover {
        background-color: #eee;
      }

      a.btn:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    a.btn {
        display: inline-block;
        width: 100px;
        flex: 25%;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }

    table, th, td {
      border: 1px solid slateblue;
      border-collapse: collapse;
      text-align: center;
  
    }
    th, td {
      padding: 5px;
      text-align: center;
    }
    table#displayTable {
      width: 100%;    
      /* background-color: #f1f1c1; */
      background-color: honeydew
    }