<div class="container">
    <h2>Search Bookmark</h2>
    <p>Type in the name of the bookmark to filter results.</p>

    <div class="row">
        <div class="right">
            <h2>Your Bookmarks</h2> <a href="#" class="btn btn-success a-btn-slide-text">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span><strong>Add</strong></span>
            </a>

            <input type="text" id="bookmarkSearch" (keyup)="getSpecificBookmark($event)" placeholder="Search"
                title="Type in a bookmark name">
            <table id="displayTable">
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Category Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let bookmark of bookmarks">
                    <td *ngIf="bookmark.display"><strong>{{bookmark.name}}</strong></td>
                    <td *ngIf="bookmark.display"><a href={{bookmark.url}}><strong>{{bookmark.url}}</strong></a></td>
                    <td *ngIf="bookmark.display"><strong>{{bookmark.categoryName}}</strong></td>
                    <td *ngIf="bookmark.display">
                        <input id=" editButton" type="button" value=" Edit" class="btn btn-warning"></td>
                    <td *ngIf="bookmark.display">
                        <input id="deleteButton" type="button" value="Delete" class="btn btn-danger"
                            (click)="deleteBookmark(bookmark.categoryID,bookmark.id)"></td>

                </tr>
            </table>
        </div>

    </div>
</div>