<div class="container col-md-12 ">
    <div *ngIf="loading" class="backDrop">
        <div class="spinner"></div>
    </div>

    <h1 id="loginHeader"><strong>Login</strong></h1>

    <form [formGroup]="loginForm" class="needs-validation">
        <div class="row">
            <div class="col">
                <label for=" username" class="control-label"><strong>Username</strong></label>
            </div>
            <div class="col" id="userName">
                <input required type="text" class="form-control" formControlName="username"
                    placeholder="Enter username">
            </div>
        </div>
        <div class="validationError" *ngIf="loginForm.get('username').touched&&loginForm.get('username').invalid">
            *Username should be 5-25 characters</div> <br />

        <div class="row">
            <div class="col">
                <label for="password" class="control-label"><strong>Password</strong></label><br />
            </div>
            <div class="col" id="userName">
                <input required type="password" class="form-control" formControlName="password"
                    placeholder="Enter password">
            </div>
        </div>

        <div class="validationError" *ngIf="loginForm.get('password').touched&&loginForm.get('password').invalid">
            *Password should be 8 or more characters </div><br />

        <input type="button" id="loginButton" class="btn btn-primary" value="Login"
            [disabled]="loading||!loginForm.dirty||loginForm.invalid" (click)="userLogin()" /><br>




    </form>
    <div *ngIf="errorOccurred" class="error">{{errorMessage}}</div>

</div>